<!DOCTYPE html>
<html>
<head>
  <% include ../header.ejs %>
    <script src="/javascripts/favorite_manager.js"></script>
</head>
<body>
<!-- 소제목 & Searchbar -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">사전목록</a>
  <form class="form-inline" id="search_form" action="/search" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="병명을 입력해주세요" aria-label="Search" id="search_search" name = "keyword">
    <button class="btn btn-outline-success ml-2 my-sm-0" type="submit"  onclick="search_history()">검색하기</button>
  </form>
</nav>
<!-- 전체 목록이 들어가는 부분 -->
<script>var myFavoriteList = get_item();</script>
<div class="list-group" id="dictionary">
    <% if(name == null || name.length == 0){
      %><br/><h2 class="text-center">검색결과가 없습니다</h2><%
    } else {
      for(var i = 0; i< name.length; i++){ %>
        <li class="list-group-item" id="dict_list">
            <a id="dict_width" href="/document/<%= name[i].name %>"><%= name[i].name %></a>
            <div id="<%= name[i].name %>" class="star_regular"></div>
        </li>
        <script>
          var checkitem = '<%= name[i].name %>'.trim();
          if (myFavoriteList.indexOf(checkitem) > -1){
            //console.log(document.getElementById('<%= name[i].name %>'));
            //document.getElementById('<%= name[i].name %>').attr('class', 'star_solid');
            document.getElementById('<%= name[i].name %>').className = 'star_solid';

          }
        </script>
    <% }
    } %>
</div>

<script src="/javascripts/favorite_manager.js"></script>
<link rel="stylesheet" href="/css/search.css">
</body>
</html>